#navbar {
  box-shadow: 0px 0px 10px 1px var(--gray3);
  background: var(--blackdark);
}

#navbar div {
  display: flex;
  justify-content: space-between;
  background: var(--blackdark);
}

#navbar div a {
  /* background: linear-gradient(var(--black), var(--black2)); */
  padding: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

#navbar div a:hover {
  color: var(--blackdark);
  transition: color 0.3s ease, color 0.3s ease;
}

#navbar div img {
  margin-right: 0.5rem;
}

#navbar button {
  background-color: transparent;
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.2rem 0.7rem;
  margin: 0.7rem;
  border: none;
  cursor: pointer;
}

#navbar.open button {
  background-color: var(--white);
  color: var(--black);
  border-radius: 2rem;
}

#navbar ul {
  background: var(--blackdark);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
  max-height: 0;
  transition: max-height 0.3s ease;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#navbar.open ul {
  max-height: 150px;
}

#navbar li {
  list-style: none;
  padding: 0;
}

#navbar ul a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease, background-color 0.3s ease;
}

#navbar ul a:hover,
#navbar ul a:focus {
  color: var(--black);
  background-color: var(--white);
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
